[submodule "packages/flow-router"]
	path = packages/flow-router
	url = https://github.com/serut/flow-router
[submodule "packages/meteor-coverage"]
	path = packages/meteor-coverage
	url = https://github.com/serut/meteor-coverage
[submodule "packages/meteor-coverage-self-instrumenter"]
	path = packages/meteor-coverage-self-instrumenter
	url = https://github.com/serut/meteor-coverage-self-instrumenter
